.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1rem !important;
    position: sticky;
    top: 0;
    z-index: 999;
    background: #ffffffb8;
    backdrop-filter: blur(5px);
    padding-block: 2rem;
}
