.project-grid {
    display: grid;
    width: 100%;
    justify-content: center;
    gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(200px, 600px));
}

.project-card {
    position: relative;
}

.project-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 1rem;
    color: var(--secondary);
    z-index: 11;
    padding: 1rem;
}

.project-overlay {
    position: absolute;
    top: 0;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background-color: #0f141eeb;
    z-index: 9;
}

.project-info ul {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.project-info h3 {
    color: var(--secondary);
}

.project-info ul li {
    background-color: #383838;
    padding: 5px;
    border-radius: 5px;
}

.project-source {
    position: absolute;
    bottom: 30%;
    display: flex;
    gap: 2rem;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
}

.project-source a {
    background-color: var(--secondary);
    padding: 10px;
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-weight: 300;
}

.project-source a svg {
    width: 25px;
}

@media screen and (max-width: 769px) {
    .project-info {
        top: 0;
    }

    .project-source {
        bottom: 1.5rem;
    }
}
