.big-text {
    position: absolute;
    left: 50%;
    top: 5rem;
    transform: translateX(-50%);
    font-size: 23vw;
    font-weight: bolder;
    text-shadow: 0px 1px 6px #00000021;
    color: white;
    pointer-events: none;
}

.hero {
    display: grid;
    margin-bottom: 2rem;
    place-content: end left;
    position: relative;
    padding-bottom: 6rem;
    position: relative;
}

.hero-image {
    position: absolute;
    width: 100%;
    max-width: 700px;
    bottom: 6rem;
    right: 0;
    z-index: 7;
}

.hero-text {
    max-width: 630px;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    z-index: 9;
    position: relative;
}

.hero-text a {
    color: var(--primary);
    font-size: 1.2rem;
    letter-spacing: 2px;
    font-weight: 500;
    border: 1px solid var(--secondary);
    width: max-content;
    padding: 7px;
    border-radius: 5px;
    transition: all 250ms;
    position: relative;
}

.hero-text a:hover {
    background-color: var(--primary);
    color: white;
}

.hero h4 {
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 8px;
}

.hero h1 > span {
    color: #383838;
    font-size: clamp(54px, 8vw, 100px);
}

.hero h1 {
    font-size: clamp(40px, 6vw, 60px);
    margin: 0;
    line-height: 4.5rem;
}

.hero-description {
    color: var(--secondary);
    font-weight: 600;
    line-height: 25px;
    font-size: clamp(16px, 4vw, 20px);
}

.scroll-down-arrow {
    position: absolute;
    width: 20px;
    height: 30px;
    border: 1px solid var(--primary);
    border-radius: 30px;
    bottom: 2rem;
    left: 50%;
    cursor: pointer;
    z-index: 99;
}

.scroll-down-arrow:hover {
    border-color: var(--secondary);
}

.inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: var(--primary);
}

@media screen and (min-width: 1400px) {
    .big-text {
        top: 1rem;
        font-size: 15vw;
    }

    .hero-image {
        bottom: 8rem;
    }

    .hero {
        padding-bottom: 7rem;
    }
}

@media screen and (max-width: 1000px) {
    .hero-image {
        top: 0;
    }

    .scroll-down-arrow {
        bottom: 5px;
    }

    .contact-btn {
        display: inline-block;
        margin-top: 1rem !important;
    }

    .hero {
        padding-bottom: 2rem;
    }

    .hero h1 {
        font-size: 2rem;
        line-height: 3rem;
    }

    .hero h4 {
        line-height: 3rem;
    }

    .hero * {
        margin: 0;
    }

    .hero-description {
        line-height: 22px;
    }

    .header {
        padding-block: 16px;
    }
}
