.skills-info span {
    color: var(--primary);
}

.skill-set {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    margin: 2rem;
    margin-inline: auto;
    gap: 10px;
    width: 400px;
    height: 400px;
    background-color: #aeb0b3;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.skill-set div {
    background-color: var(--primary);
    color: var(--secondary);
    padding: 5px 7px;
    border-radius: 5px;
    height: max-content;
}

@media (max-width: 769px) {
    .skill-set {
        width: 350px;
        height: 350px;
    }
}
