.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    cursor: pointer;
    position: relative;
    z-index: 99999;
}

.menu.open {
    color: var(--secondary);
}

.menu .icon {
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: var(--primary);
    position: relative;
    transition: 200ms all;
}

.menu .icon::before {
    content: "";
    position: absolute;
    top: 7px;
    width: 20px;
    height: 3px;
    background-color: var(--primary);
    transition: 200ms all;
}

.menu .icon::after {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 20px;
    height: 3px;
    background-color: var(--primary);
    transition: 200ms all;
}

.menu.open .icon {
    background-color: transparent;
}

.menu.open .icon::after {
    transform: rotate(45deg);
    bottom: 0;
    background-color: var(--secondary);
}

.menu.open .icon::before {
    transform: rotate(-45deg);
    top: 0;
    background-color: var(--secondary);
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    display: grid;
    place-content: center;
    overflow: hidden;
    text-align: center;
    color: var(--secondary);
    z-index: 999;
    max-width: 100%;
}

nav a {
    color: var(--secondary);
    font-size: 3rem;
    transition: all 250ms;
    width: 100%;
    padding-top: 10px;
}

nav a:hover,
nav a:active,
nav a:focus {
    font-size: 3.5rem;
    color: white;
}

nav h3 {
    font-weight: lighter;
    letter-spacing: 1rem;
}
