*,
::after,
::before {
    box-sizing: border-box;
}

:root {
    --primary: #0f141e;
    --secondary: #878a8f;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Now Display", sans-serif;
    overflow-x: hidden;
}

body:has(.menu.open) {
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

.container-full {
    width: 100%;
    max-width: 1400px;
    padding-inline: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%;
    padding-inline: 1rem;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #e3e3e3;
}

body::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 20px;
    border: 1px solid #9a9a9a;
}

@media screen and (max-width: 769px) {
    .container {
        padding-inline: 10px;
    }
}
