*,
::after,
::before {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 3rem;
}

:root {
    --primary: #0f141e;
    --secondary: #878a8f;
}

body {
    padding: 0;
    margin: 0;
    font-family: "Helvetica Now Display", sans-serif;
    overflow-x: hidden;
}

body:has(.menu.open) {
    overflow: hidden;
}

.app {
    position: relative;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

li {
    list-style: none;
}

h2 {
    font-size: 3rem;
    margin: 5px;
    color: var(--primary);
}

h3 {
    font-size: 2rem;
    margin-block: 5px;
    color: var(--primary);
}

p {
    color: var(--secondary);
    font-weight: 600;
    line-height: 25px;
    font-size: clamp(16px, 4vw, 20px);
}

.text-middle {
    max-width: 670px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 6rem;
    margin-bottom: 3rem;
}

.container-full {
    width: 100%;
    max-width: 1400px;
    padding-inline: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%;
    padding-inline: 1rem;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #e3e3e3;
}

body::-webkit-scrollbar-thumb {
    background-color: #bbbbbb;
    border-radius: 20px;
    border: 1px solid #9a9a9a;
}

.loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary);
    z-index: 9999;
    display: grid;
    place-content: center;
    color: var(--secondary);
    font-size: 5rem;
}

@media screen and (max-width: 769px) {
    .container-full {
        overflow: hidden;
    }

    .follow-pointer {
        display: none;
    }
}

.follow-pointer {
    position: fixed;
    z-index: 999999;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: rgba(100, 100, 100, 0.671);
    mix-blend-mode: multiply;
    pointer-events: none;
}
